@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap");

.ManropeFont {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21.86px;
}

#designerListing2Star .crousalimg {
  display: flex;
  width: 120%;
  padding: 12px;
}

.crousalimg img {
  object-fit: cover;
}

#designerListing2Star .fa-star {
  color: #174e86;
}
.review2 {
  background-color: #000000;
  opacity: 0.05;
  z-index: -1;
}
.titleSelectedTab {
  position: relative;
  font-family: "Inter";
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #174E86;
  bottom:14px;
  cursor:pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 95rem;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(2px);
}

.titleSelectedTab:after {
  cursor:pointer;
  content: "";
  position: absolute;
  background-color: #3b5998;
  width: 225%;
  height: 0.25rem;
  left: -65%;
  top: 1.5625rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.navTextMob  {
  font-family: Inter;
  font-size: 600;
  font-size: 15px;
  text-align: center;
  color: #A7A7A7;
  margin-top: 0px;
  width: 100%;
  position: relative;
}

.titleMob {
  position: relative;
  font-family: "Inter";
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  color: #141414;
  margin-top: 18px;
}

.titleMob:after {
  content: "";
  position: absolute;
  background-color: #3b5998;
  width: 98%;
  height: 6px;
  bottom: -10px;
  left: 2%;
  top: 38px;
  border-radius: 5px;
}
