.city-filter span,
.selected span {
  border: 1px solid #c2c2c2;
  box-sizing: border-box;
  border-radius: 4.04165px;
  padding: 6px 20px;
  font-size: 12px;
  margin-right: 20px;
}

.HeadingAndCalendarButtonStyling {
  display: flex;
  justify-content: space-between;
  width: 80vw;
}
.callbuttons{
  /* border: 2px solid red; */
  /* width:60%; */
}
.bluecallbuttons{
  /* width: 5; */
}
.HeadingAndCalendarButtonStyling button {
  background: white;
  border: 2px solid #344e84;
  font-size: 1.1em;
  font-weight: 600;
  color: #344e84;
  border-radius: 10px;
  padding: 10px;
}

#OEMLogo {
  width: 1.5em;
  padding: 0 1%;
}
#guideImage {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}

.selected span {
  background: #2cbf8130;
}
#dont-know {
  position: relative;
  left: 1em;
}
#dontKnowHowToBegin,
#selectYourSpace {
  font-family: Inter;
}

.selected button {
  font-size: 6px;
  color: white;
  background: #2cbf81;
  padding: 1%;
  border-radius: 12px;
}
.slick-slide img {
  display: inline;
}
.shadow {
  background: rgba(196, 196, 196, 0.07);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

#getStarted {
  color: #00e676;
}

.shadow img {
  width: 100%;
}

.slick-slide img {
  display: inline;
}

.star {
  background: #e7e7e74a;
  padding: 5px 20px;
  color: #e4d441;
  font-size: 1em;
}
.star2{
  background: rgba(0,0,0,0.05);
  padding: 5px 7px;
  color: #174E86;
  font-size: 1em;
  border-radius: 20px;
}

.costage {
  margin-bottom: 1.2em;
}

.review {
  margin-top: 0.7em;
}

.costage span {
  padding: 8px 29px;
  background: #ebecff;
  border-radius: 5px;
  color: #3b5998;
}
.socialpart {
  /* padding-left: 10px !important; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 300px) and (max-width: 445px) {
  .socialpart {
    padding: 0 1.4em;
    /* margin: 0 1.1em; */
  }

  #dont-know {
    transform: translate(-3%, 12%);
  }
}

.information span {
  border-radius: 6px;
  font-size: 0.8em;
}

.information i {
  margin-right: 5px;
}

.information button {
  margin: 20px 0px 20px;
}

.nsure {
  background: #ffffff;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 5px;
}

.popover {
  max-width: 100%;
}

.prof-btn.nav-link.active {
  background: #3b5998 !important;
  color: white;
}

.social-icon img {
  width: 4%;
  margin: 0 4px;
}

.dp img {
  width: 6%;
  margin: 0 4px;
}

.dlsize {
  font-size: 24px;
}

.btn-width {
  width: 10rem;
}

.designer {
  background: linear-gradient(265.12deg, #142f69 -3.8%, #4364a8 115.8%);
}

.whatsapp {
  background: linear-gradient(
    266.21deg,
    #00e676 2.2%,
    rgba(3, 142, 74, 0.71) 110.63%
  );
}

.filter-btn .btn-outline-secondary {
  width: 7rem;
}

.filter-btn .btn-outline-secondary:hover {
  background-color: #e4e4e4;
  border-color: #e4e4e4;
  color: #000;
}

.filter-btn .btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25px #e4e4e4 !important;
}

.social td {
  padding: 3px;
}

.card-icon img {
  width: 100%;
}

.crousalimg {
  display: flex;
  padding: 12px;
}

.crousalimg img {
  object-fit: cover;
}

li.nav-item.border-top.border-bottom.border-start.w-25.rounded-start {
  width: 50% !important;
}

li.nav-item.border-top.border-bottom.border-end.ps-3.pe-3rounded-end {
  width: 50%;
  /* background: #fff; */
  padding-left: 10px !important;
}

ul#pills-tab {
  /* background: red; */
  height: 3.1em;
  width: 50em;
}
ul#pills-tab .nav-item {
  width: 40em;
  height: 3em;
  border-radius: 6px 0px 0px 6px;
}
#pill-tab-div {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.col-lg-7 ul li {
  display: flex;
  flex-basis: 33.333333%;
}
#pills-tab .me-3 {
  margin-right: 0.6rem !important;
}

ul#pills-tab {
  padding: 0px;
  border-radius: 8px;
  border: 3px solid #3c5997;
  max-width: 300px;
}

.mfilter .modal-dialog {
  -webkit-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -o-transform: translate(0, 100%);
  transform: translate(0, 100%);
}

.mtop {
  margin-top: 15px !important;
}

@media (max-width: 540px) {
  ul#pills-tab {
    padding: 0px;
    border-radius: 8px;
    border: 3px solid #3c5997;
    max-width: 100% !important;
    margin-top: 19px !important;
  }
  #dontKnowHowToBegin,
  #selectYourSpace {
    font-family: Inter;
  }

  .social tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .prof-btn.nav-link.active {
    margin-bottom: 0px;
  }
  .prof-btn.nav-link {
    margin-bottom: 0px;
  }
  .professional-filter .mt-4 {
    padding-right: 0px !important;
  }
  .socialpart {
    padding-left: 0px !important;
  }
  .nsure {
    padding: 8px 0px;
  }
  .slick-dots {
    position: initial !important;
    overflow: auto;
    white-space: nowrap;
  }

  .socialpart {
    padding: 0px;
  }

  .slick-dots li {
    position: initial !important;
    height: auto !important;
    width: 140px !important;
  }
  .slick-dots img {
    width: 100%;
    padding: 10px 0px;
  }
}
